<h2>LOGIN</h2>
<form action="POST">
    <input type="text" id="email" placeholder="enter email">
    <input type="text" id="pwd" placeholder="Enter password">
    <button id="submit_login">Login</button>
    <button id="forgot_pwd">FOrgot Password</button>
</form>