<h1>Sign Up Page</h1>
<form method="POST" action="/signup">
    <input type="text" name="name" id="name" placeholder="name">
    <input type="text" name="mobile" id="mobile" placeholder="PHone Number">
    <input type="email" name="email" id="email" placeholder="Enter email">
    <input type="password" name="password" id="pwd" placeholder="enter password">
    <button type="submit" id="submit_login">Sign Up</button>
    <button id="forgot_pwd">FOrgot Password</button>
     
</form>